/* :root {
  scroll-behavior: auto;
  /* 이거 넣으면, window.scrollTo(x,y) 강제로 스크롤이 정상작동 */
  /* bootsrap을 사용하면 스크롤이 강제이동이 천천히 작동함 그래서 */
/* } */ */

.alert-box{
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: none;
}

.list-group{
    display: none
}

.show {
    display: block;
}

.black-bg {
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 6;
  /* 기본적으로 z-index 속성이 적용되지 않은 요소 간에는
  HTML 문서 상에서 나중에 나오는 요소가
  먼저 나오는 요소보다 위로 올라오도록 되어 있는데요 
  z-index 값이 높은 것이 화면 위로 표시됨
  */
  padding: 30px;
  /* display : none; */
  visibility: hidden;
  /* 애니메이션 줄 때 display : none 대용 */
  opacity: 0;
  transition: all 1s;
}
.show-modal{
    /* display : block; */
    visibility: visible;
  /* 애니메이션 줄 때 display : none 대용 */
  opacity: 1;
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
} 

.dark{
  background: black;
  color: white;
}

.slide-container {
  width: 300vw;
  /* 브라우저폭 == 100vw */

  /* margin-left: -100vw; */
  /* transform: translateX(-100vw); */
  /* margin-left 보다 부드러움 */
  transition: all 1s;

}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navbar-brand {
  font-size: 30px;
  /* 스크롤바 내리면 로고 작게 만들기 */
}

/* 상단 게이지 바 */
#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background-color: blue;
    width: 0%;
    z-index: 9999;
}